site_name: rbx
repo_url: https://github.com/rsalesc/rbx
nav:
  - 'index.md'
  - 'Introduction':
    - 'intro/installation.md'
    - 'intro/configuration.md'
  - 'rbx: rbx for setters':
    - 'setters/first-steps.md'
    - 'setters/cheatsheet.md'
    - 'Reference':
      - 'Package':
        - 'setters/reference/package/index.md'
        - 'Schema': 'setters/reference/package/schema.md'
      - 'Contest':
        - 'setters/reference/contest/index.md'
        - 'Schema': 'setters/reference/contest/schema.md'
      - 'setters/reference/environment.md'
      - 'setters/reference/cli.md'
theme:
  name: material
  palette:
    primary: orange
  font:
    text: Ubuntu
  icon:
    repo: fontawesome/brands/github
  features:
    - content.code.copy
    - content.code.annotate
    - navigation.sections
    - navigation.indexes
    - navigation.path
    - navigation.expand
    - search.highlight
    - search.suggest
    - toc.follow
plugins:
  - search
  - macros
  - termynal
  - mkdocstrings:
      handlers:
        python:
          options:
            unwrap_annotated: true
            extensions:
            - griffe_fieldz
extra:
  rbx: "[rbx](){:.rbx}"
  rbxTeX: "[rbxTeX](){:.rbx}"
  polygon: "[Polygon](https://polygon.codeforces.com)"
  boca: "[BOCA](https://github.com/cassiopc/boca)"
  testlib: "[testlib](https://github.com/MikeMirzayanov/testlib)"
  jngen: "[jngen](https://github.com/ifsmirnov/jngen)"
  YAML: "[YAML](https://yaml.org)"
  regex:
    name: "^[a-zA-Z0-9][a-zA-Z0-9\\-]{2,32}$"
  tags:
    accepted: '<span style="color: green">accepted</span>'
    wrong_answer: '<span style="color: red">wrong answer</span>'
extra_css: 
  - extra.css
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
